<% if @error %>
<div id='error_explanation'> <%= @error%>
</div>
<% end %>

<%= javascript_tag "window.onload = builder_onload" %>

<h1 style="text-align:center">svn branch create</h1>
<form method="post" id="vmlinux" action="/start">
	<label>公司邮箱</label><br>
	<%= email_field_tag "email", params[:email],:value =>"qishanqing@dafy.com",:cols =>60 %><br><br>

	<label>分支类型</label><br>
	<%= params[:types] = "add" unless params[:type]; nil %>
	<%= radio_button_tag "types", "add", params[:types] == "add" %>新建分支&nbsp;&nbsp;
	<%= radio_button_tag "types", "del", params[:types] == "del" %>删除分支&nbsp;&nbsp;
	<%= radio_button_tag "types", "cbb", params[:types] == "cbb" %>新建分支(从分支)&nbsp;&nbsp;
	<%= radio_button_tag "types", "at", params[:types] == "at" %>新增主干&nbsp;&nbsp;
	<%= radio_button_tag "types", "ct", params[:types] == "ct" %>新建主干&nbsp;&nbsp;
	<%= radio_button_tag "types", "cl", params[:types] == "cl" %>新建基线&nbsp;&nbsp;<br><br>
	<label>项目主干相对路径:</label><br>
	<%= text_area_tag "trunk", params[:trunk],:class =>"test"  %><br>

	<label>分支名称:</label><br>
	<%= text_area_tag "branch", params[:branch],:class =>"test" %><br>

	<label>权限人员:</label><br>
	<%= text_area_tag "user", params[:user],:class =>"test1" %><br>

	<label>创建完成后发送通知邮件人员名单(公司邮箱，以空格分隔，可不填)</label><br>
	<%= text_area_tag "extra_mails", params[:extra_mails],:class =>"test1" %><br>

	<label>特殊分支日期(格式参照 20170601 可不填)</label><br>
	<%= text_area_tag "riqi", params[:riqi],:class =>"test1" %><br>
	 <input type="submit" value="Submit">
	 <input name="authenticity_token"
	 	type="hidden"
		value="<%= form_authenticity_token %>"/>
