<% if @error %>
<div id='error_explanation'> <%= @error%>
</div>
<% end %>

<%= javascript_tag "window.onload = builder_onload" %>

<h1 style="text-align:center">Release_Merge_Helpers</h1>
<form method="post" id="vmlinux" action="/release_merge/new">
	<label>用户邮箱</label><br>
	<%= email_field_tag "email", params[:email],:value =>"@dafy.com",:cols =>60 %><br><br>	
	<label>创建类型</label><br><br>
	<%= params[:types] = "cf"unless params[:type]; nil %>
	<%= radio_button_tag "types","cf", params[:types] == "cf" %>冲突文件替换&nbsp;&nbsp;
	<%= radio_button_tag"types", "pl", params[:types] == "pl" %>项目查询&nbsp;&nbsp;<br><br>

	<label>预上线合并分支名称:</label><br>
	<%= text_area_tag "branch", params[:branch],:class =>"test" %><br>

	<label>预上线合并冲突文件(可直接复制预上线报错文件)</label><br>
	<%= text_area_tag "files", params[:files],:class =>"test" %><br>
	
	<label>提交日志信息(大于5个字符 可不填)</label><br>
	<%= text_area_tag "message", params[:message],:class =>"test1" %><br>
	
	<label>创建完成后发送通知邮件人员名单(公司邮箱，以空格分隔，可不填)</label><br>
	<%= text_area_tag "extra_mails", params[:extra_mails],:class =>"test1" %><br>

	 <input type="submit" value="Submit">
	 <input name="authenticity_token"
	 	type="hidden"
		value="<%= form_authenticity_token %>"/>
