<% if @error %>
<div id='error_explanation'> <%= @error%>
</div>
<% end %>

<%= javascript_tag "window.onload = builder_onload" %>

<h1 style="text-align:center">Upload Web</h1>
<form method="post" id="vmlinux" action="/upload/new">
	<label>公司邮箱</label><br>
	<%= email_field_tag "email", params[:email],:value =>"qishanqing@dafy.com" %><br><br>
	
	<label>上传文件</label><br>
	<%= text_area_tag "extra_mails", params[:extra_mails] %><br>
	 <input type="submit" value="Submit">
	 <input name="authenticity_token"
	 	type="hidden"
		value="<%= form_authenticity_token %>"/>
